
@import url('https://fonts.googleapis.com/css?family=Kanit|Montserrat+Subrayada|Roboto');

body {
    font-family: 'Roboto','Kanit', sans-serif;

}
b{
	color: #FF7276;
}
h1{
	color: #FF7276;
	font-family: 'Montserrat Subrayada', sans-serif;
}
p {
	color: #27AAE1;
}
.myButton {
	background-color:#fc8d83;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:14px 45px;
	text-decoration:none;
	text-shadow:0px 0px 12px #b23e35;
}
.myButton:hover {
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}

.boxfacebook{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	/*background-color: red;*/
}
.mid{
	width: 275px;
	height: 60px;
	margin: 0 auto;
}